html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  display: block;
}

.desktop {
  display: grid;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/background.png");
  background-size: cover;

  .checkers {
    background-image: url("data:image/svg+xml,%3Csvg%20width='4'%20height='4'%20viewBox='0%200%204%204'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='2'%20height='2'%20fill='white'/%3E%3Crect%20x='2'%20y='2'%20width='2'%20height='2'%20fill='white'/%3E%3C/svg%3E%0A");
    background-size: 4px 4px;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    -webkit-backdrop-filter: brightness(80%);
    backdrop-filter: brightness(80%);
    opacity: 1;
  }
}

.short-cuts {
  position: fixed;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 28px;

  @media only screen and (max-width: 600px) {
    & {
      top: 8px;
    }
  }
}

.short-cut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100px;
  margin-bottom: 4px;

  @media only screen and (max-width: 600px) {
    & {
      padding: 4px 0;
      width: 80px;
    }
  }

  .icon {
    margin-bottom: 6px;
  }

  .text {
    text-align: center;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 2px 4px;
  }

  &.selected {
    .text {
      background-color: #0000a8;
      border: 1px dotted #fcfc00;
    }
  }
}

.window {
  position: absolute;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  z-index: 1;
  opacity: 0;
  display: none;
  min-width: 200px;
  min-height: 200px;

  &.open {
    opacity: 1;
    display: block;
  }

  &.minimized {
    display: none;
  }

  .restore-icon {
    display: none;
  }

  &.maximized {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: calc(100% - 28px) !important;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;

    .frame {
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      padding: 0;
    }

    .maximize-icon {
      display: none;
    }

    .restore-icon {
      display: block;
    }
  }

  .frame {
    background: #bfbfbf;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    padding: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-bevel {
    border-top: 1px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    flex-grow: 1;
    height: calc(100% - 20px);
  }

  &.active {
    z-index: 10;
    .title-bar {
      background-color: #0000a8;

      .title {
        color: #ffffff;
      }
    }
  }

  .grab {
    position: absolute;
    @media only screen and (max-width: 600px) {
      & {
        margin: -2em;
        padding: 2em;
      }
    }
  }

  .n-grab {
    top: -1px;
    left: 3px;
    right: 3px;
    height: 4px;
    cursor: ns-resize;
  }

  .ne-grab {
    top: -1px;
    right: -1px;
    width: 4px;
    height: 4px;
    cursor: nesw-resize;
    z-index: 1;
  }

  .e-grab {
    top: 3px;
    right: -1px;
    bottom: 3px;
    width: 4px;
    cursor: ew-resize;
  }

  .se-grab {
    bottom: -1px;
    right: -1px;
    width: 4px;
    height: 4px;
    cursor: nwse-resize;
    z-index: 1;
  }

  .s-grab {
    bottom: -1px;
    left: 3px;
    right: 3px;
    height: 4px;
    cursor: ns-resize;
  }

  .sw-grab {
    bottom: -1px;
    left: -1px;
    width: 4px;
    height: 4px;
    cursor: nesw-resize;
    z-index: 1;
  }

  .w-grab {
    left: -1px;
    top: 3px;
    bottom: 3px;
    width: 4px;
    cursor: ew-resize;
  }

  .nw-grab {
    top: -1px;
    left: -1px;
    width: 4px;
    height: 4px;
    cursor: nwse-resize;
    z-index: 1;
  }
}

.title {
  margin-left: 4px;
  flex-grow: 1;
  color: #000000;
  font-weight: bold;
}

.title-bar {
  position: relative;
  background-color: #7f7f7f;
  padding: 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  z-index: 10;

  .title {
    color: #bfbfbf;
  }

  &.animating {
    position: absolute;
    transition: all 200ms linear;
    background-color: #0000a8;
    z-index: 1000;

    .title {
      color: #ffffff;
    }

    .button {
      display: none;
    }
  }
}

.button {
  align-items: center;
  display: flex;

  padding: 0;
  background: #bfbfbf;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  color: #000000;

  .bevel {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
  }

  .large {
    padding: 8px;
    border-top: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
    border-bottom: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
  }

  &.close {
    margin-left: 2px;
  }

  &:active {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    svg {
      position: relative;
      top: 1px;
      left: 1px;
    }

    .bevel {
      border-top: 1px solid #7f7f7f;
      border-left: 1px solid #7f7f7f;
      border-bottom: 1px solid #bfbfbf;
      border-right: 1px solid #bfbfbf;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin scroll-border {
  border-top: 1px solid #c0c7c8;
  border-left: 1px solid #c0c7c8;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  box-shadow: inset -1px -1px 0 0 #87888f, inset 1px 1px 0 0 #ffffff;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  @include scroll-border;

  width: 16px;
  height: 16px;
  background-color: #c0c7c8;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2' fill='none'><path fill='%23fff' d='M0 0h2v2H0z'/><path fill='%23C0C7C8' d='M0 0h1v1H0zM1 1h1v1H1z'/></svg>");
  background-repeat: repeat;
}

::-webkit-scrollbar-corner {
  background-color: #c0c7c8;
}

::-webkit-scrollbar-button {
  @include scroll-border;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c0c7c8;
  background-repeat: no-repeat;

  &:horizontal:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'><path fill='%23000' d='M4 6v1h1v1h1v1h1v1h1V3H7v1H6v1H5v1H4Z'/></svg>");
  }

  &:horizontal:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'><path fill='%23000' d='M9 7V6H8V5H7V4H6V3H5v7h1V9h1V8h1V7h1Z'/></svg>");
  }

  &:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'><path fill='%23000' d='M7 5H6v1H5v1H4v1H3v1h7V8H9V7H8V6H7V5Z'/></svg>");
  }

  &:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'><path fill='%23000' d='M6 9h1V8h1V7h1V6h1V5H3v1h1v1h1v1h1v1Z'/></svg>");
  }

  &:active {
    border-top: 1px solid #87888f;
    border-left: 1px solid #87888f;
    border-bottom: 1px solid #87888f;
    border-right: 1px solid #87888f;
    box-shadow: none;
    background-position: 1px 1px;
  }

  &:horizontal:increment:start {
    display: none;
  }
  &:horizontal:decrement:end {
    display: none;
  }
  &:vertical:increment:start {
    display: none;
  }
  &:vertical:decrement:end {
    display: none;
  }
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}