.content {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  background-color: #ffffff;
  height: 100%;
  overflow: auto;
}

.bezel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    zoom: 0.75;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
}
