.outer {
  width: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  background-color: #bfbfbf;
  overflow: auto;
}

.bezel {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: flex-start;
}

.menu {
  .text {
    padding: 4px 8px;

    &:hover {
      background-color: #0000a8;
      color: #ffffff;
    }
  }

  .icon {
    margin-right: 6px;
  }

  .underline {
    text-decoration: underline;
  }

  button {
    flex-grow: 1;
    div {
      justify-content: flex-start !important;
      padding-left: 8px;
      margin-right: auto;
    }
  }
}

.inner {
  width: 100%;
  height: 100%;
  border-left: 2px solid #404040;
  border-top: 1px solid #404040;
  border-right: 2px solid #dfdfdf;
  border-bottom: 2px solid #f4f4f4;
  background-color: #ffffff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 4px 6px;

      .text {
        margin-left: 8px;
      }

      .icon {
        margin-right: 6px;
      }

      &:hover {
        background-color: #0000a8;
        color: #ffffff;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: [first] 30% [line2] 25% [line3] 25% [col4-start] 20% [end];
  grid-template-rows: [start] auto [end];
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
